<body>
    <div class="contenedor" *ngIf="movilElegido$ | async as movils">
        <div *ngFor="let item of movils.data.moviles">
            <h1> Marca: {{item.marca}}</h1>
            <h1> Modelo: {{item.modelo}}</h1>
            <h1> Pantalla: {{item.pantalla.size}} pulgadas</h1>
            <h1> Ram: {{item.ram.gb}} gb</h1>
            <h1> Procesador: {{item.procesador.nombre}}, {{item.procesador.nucleos}} nucleos, {{item.procesador.velocidad}} ghz</h1>
            <h1> Antutu: {{item.antutu.puntuacion}}</h1>
            <h1> Bateria: {{item.bateria.mwh}} mhw</h1>
            <h1> Precio: {{item.precio}}€</h1>
        </div>
    </div>
</body>